@media (min-width: 768px) {

    .header,
    .footter {
        height: 100px;
    }

    .section {
        height: calc(100vh - 230px);
    }

    .header__h1 {
        font-size: 5rem;

    }

    .section__aside-h2 {
        font-size: 1.5rem;
    }

    .section__div-p {
        font-size: 1rem;
    }


    .section__main { 
        border: 6px solid rgb(0, 0, 0);
        
        }
}

@media (min-width: 1100px) {

    .header,
    .footter {
        height: 100px;
    }

    .section {
        height: calc(100vh - 237px);
    }

    .header__h1 {
        font-size: 5rem;

    }

    .section__aside-h2  {
        font-size: 2.5rem;
    }

    .section__div-p {
        font-size: 2rem;
    }

    .section__div-number-score {
        font-size: 4rem;
    }
    
.copyright {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;

}


#nextButton, #clearButton, .button_start {
    font-size: 1.5rem;
   
}

}